<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?cinema);">
  <div class="container text-center">
    <h1>Save any kind of movies</h1>
    <p><%= @lists.first.name %></p>
  </div>
</div>

<div class="container my-5">
  <div class="d-flex text-right justify-content-between my-5">
    <h3>My lists</h3>
    <%= link_to "Create a movie List", new_list_path, class: "btn btn-flat" %>
  </div>
  <div class="container d-flex justify-content-center">
  <% @lists.each do |l| %>
  <div class="card" style="width: 18rem;">
    <img src="<%=l.movies.first.poster_url%>" class="card-img-top" alt="Pelis">
    <div class="card-body">
      <p class="card-text"><%= link_to l.name, list_path(l) %></p>
    </div>
  </div>
  <% end  %>
  </div>
</div>
